.App {
  /* put everything in the middle of the page */
  text-align: center;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  color: white;
  /* i want minimum height to be fit content but if the content 
  isn't full height i want it to be 100vh */
  min-height: fit-content;
  height: 100vh;

}

.Peers{
  min-height: fit-content;
  text-align: center;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  color: white;
}

.textbox{
  width: 60%;
  margin: auto;
}

.navigation{
  display: flex;
  justify-content: center;
  /* fix at the bottom  of the page */
  position: fixed;
  bottom: 2%;
  width: 100%;
}

a{
  color: rgb(0, 195, 255);
}

.profile-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}