html{
  background-color: rgb(54, 54, 54);
  height: 100%;
}


.App {
  text-align: center;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  color: white;
  min-height: fit-content;
  height: 100vh;
  min-height: fit-content;

}

.Error{
  text-align: center;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Peers{
  min-height: fit-content;
  text-align: center;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  color: white;
}

.textbox{
  width: 60%;
  margin: auto;
}

.navigation{
  display: flex;
  justify-content: center;
  /* fix at the bottom  of the page */
  position: relative;
  margin-bottom: 2%;
  width: 100%;
}

a{
  color: rgb(0, 195, 255);
}

.profile-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.message-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  
}

.inbox{
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}


.search-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 65%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  height: fit-content;
}

.results{
  background-color: rgb(70, 70, 70);
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 18px;
  /* remove text styke */
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.a{
  text-decoration: none;
}

.results:hover{
  background-color: rgb(100, 100, 100);
}

