.App {
  /* put everything in the middle of the page */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.textbox{
  width: 60%;
  margin: auto;
}

.results{
  margin-left: 15%;
  text-align: left;
}

.navigation{
  display: flex;
  justify-content: center;
}